html, body {
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-shadow {
    padding: 0 20px;
    border: 1px solid #dedede;
    background-color: #e9e4e4;
}

.text-shadow .text-container {
    transform-style: preserve-3d;
    transform-origin: center center;
    /* animation: wobble 5s ease-in-out infinite; */
}

@keyframes wobble {
    0%, 100% {
        transform: rotate3d(1, 1, 0, 40deg);
    }
    25% {
        transform:  rotate3d(-1, 1, 0, 40deg);
    }
    50% {
        transform:  rotate3d(-1, -1, 0, 40deg);
    }
    75% {
        transform:  rotate3d(1, -1, 0, 40deg);
    }
}

.text-container .text {
    position: absolute;
    top: 120px;
    font-size: 20px;
    font-weight: bold;
    /* 将文本进行大写转换 */
    text-transform: uppercase;
    color: rgba(255, 100, 100, 1);
    text-shadow: 
        0 0 5px rgba(255, 0, 0, 1), 
        0 0 20px rgba(255, 0, 0, .8), 
        0 0 50px rgba(255, 0, 0, .6);
    /* animation: glow 10s ease-in-out infinite; */
}
