html, body {
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-shadow {
    padding: 0 20px;
    border: 1px solid #dedede;
    background-color: #e9e4e4;
}

.text-shadow .text-container {
    transform-style: preserve-3d;
    transform-origin: center center;
    animation: wobble 5s ease-in-out infinite;
}

@keyframes wobble {
    0%, 100% {
        transform: rotate3d(1, 1, 0, 40deg);
    }
    25% {
        transform:  rotate3d(-1, 1, 0, 40deg);
    }
    50% {
        transform:  rotate3d(-1, -1, 0, 40deg);
    }
    75% {
        transform:  rotate3d(1, -1, 0, 40deg);
    }
}
